<div class="contenedor">
  <div class="contenedor_wallpaper">
    <p class="contenedor_Wallpaper_titulo">Welcome Back</p>
    <p class="contenedor_Wallpaper_subtitulo">Manage your restaurant with ease</p>
  </div>
  <div class="contenedor_form">
    <app-logo-principal></app-logo-principal>

    <p class="contenedor_form_titulo">Restaurant JHONTRUSE</p>

    <p class="contenedor_form_subtitulo">Management System</p>
    <form class="contenedor_form_formulario" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p class="contenedor_form_formulario_titulo">Iniciar Sesión</p>

      <div class="contenedor_form_formulario_titulo_inputs">
        <label for="username">Username</label>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-user"/>
          <input type="text" formControlName="username" class="form-input" pInputText placeholder="Ingresa tu usuario"/>
          <p-inputicon [class]="isLoading ? 'pi pi-spin pi-spinner' : ''"/>
        </p-iconfield>
        <small id="username-help">Enter your username to reset your password.</small>
      </div>

      <div class="contenedor_form_formulario_titulo_inputs">
        <label for="password">Password</label>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-lock"/>
          <input [type]="isPasswordVisible ? 'text' : 'password'"
                 formControlName="password" pInputText
                 placeholder="Ingresa tu password"/>
          <p-inputicon [class]="isPasswordVisible ? 'pi pi-eye password' : 'pi pi-eye-slash'"
                       (click)="visiblePassword()"
                       style="cursor: pointer"/>
        </p-iconfield>
        <small id="password-help">Enter your password to reset your password.</small>
      </div>

      <div class="contenedor_form_formulario_titulo_extra">
        <div class="contenedor_form_formulario_titulo_extra_checkbox">
          <p-checkbox formControlName="checkbox" inputId="size_normal" name="size" value="small"/>
          <label for="size_large" class="text-sm">Recuérdame</label>
        </div>
        <p class="contenedor_form_formulario_titulo_extra_recuerda" (click)="redireccion()">¿
          Olvidaste tu contraseña ?</p>
      </div>

      <p-button class="contenedor_form_formulario_titulo_boton"
                label="Ingresar" icon="pi pi-check" type="submit" iconPos="right" fluid="true"
                [loading]="isLoading ? true : false"
                [rounded]="false"
                size="large"
      />

    </form>
    <p class="contenedor_form_soporte">¿Necesitas una cuenta?
      <span>Contacta con el administrador</span>
    </p>
    <p class="contenedor_form_footer">© 2026 Restaurant JHONTRUSE. All rights reserved.</p>


  </div>
</div>
