:root {
  /* Cards principal*/
  --card-width: 100%;
  --card-height: 100vh;

  /* Tipografia*/
  --type-letter: "Josefin Sans", sans-serif;
}

body,
html {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: rgb(248, 249, 250);
}
